apispec            
blinker            
click              
colorama           
dnspython          
Flask              
Flask-JWT-Extended 
flask-smorest      
itsdangerous       
Jinja2             
MarkupSafe         
marshmallow        
packaging          
pip                
PyJWT              
pymongo            
pyodbc             
python-dotenv      
setuptools         
webargs            
Werkzeug           